* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
}

.active {
  color: #012d76 !important;
  border-bottom: 6px solid #012d76;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

header .logo {
  margin: 20px 0;
}

header nav {
  background-color: #b1d281;
  height: 80px;
}

header nav li {
  display: inline;
  list-style-type: none;
  margin: 0 5px;
}

header nav li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

header nav li a:visited {
  color: white;
}

header nav li a:hover {
  color: #012d76;
  border-bottom: 6px solid #012d76;
}

.pasta {
  background-image: url(/images/fondo-pag-speciali.jpg?06a79f19fbb4489a17e2dff67ce37137);
  background-size: cover;
}

.pasta .pasta_card h2 {
  width: 1070px;
  text-align: center;
  text-transform: uppercase;
  color: #012d76;
  font-size: 35px;
  text-shadow: 2px 2px 3px white;
  margin: 30px 0;
}

.pasta .pasta_card img {
  width: 350px;
  margin: 10px;
}

.pasta .pasta_card .hover_card {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  width: 350px;
  height: 210px;
  padding: 5px;
  margin: 10px;
  position: absolute;
  transform: translateY(-234px);
}

.pasta .pasta_card .hover_card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.pasta .pasta_card .hover_card h3 {
  font-weight: 900;
  margin-top: 20px;
}

.pasta .pasta_card .hover_card p {
  height: 80px;
  overflow-y: hidden;
  font-size: 14px;
  font-weight: 100;
  margin: 20px 0;
}

